<div class="menu-bar">
    <nav class="menu-nav">
        <a class="menu-btn" href="/">
            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="title">Главная</span>
        </a>
        <a class="menu-btn" href="/wallet">
            <span class="icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>
            <span class="title">Кошелек</span>
        </a>
        <a class="menu-btn" href="/history">
            <span class="icon"><i class="fa fa-history" aria-hidden="true"></i></span>
            <span class="title">История</span>
        </a>

        {{#if showLoginButton}}
            <a class="auth-button" href="/login">
                <span class="icon"><i class="fa fa-sign-in" aria-hidden="true"></i></span>
                <span class="title">Войти</span>
            </a>
        {{/if}}

        {{#if showLogoutButton}}
            <a class="auth-button" href="/logout">
                <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                <span class="title">Выйти</span>
            </a>
        {{/if}}
    </nav>
</div>