<div class="menu-bar">
    <nav class="menu-nav">
        <a href="/">
            <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
            <span class="title">Главная</span>
        </a>
        <a href="/wallet">
            <span class="icon"><i class="fa fa-tasks" aria-hidden="true"></i></span>
            <span class="title">Кошелек</span>
        </a>
        <a href="">
            <span class="icon"><i class="fa fa-history" aria-hidden="true"></i></span>
            <span class="title">История</span>
        </a>
    </nav>
</div>