<div class="content">
    <script src="../components/history-onload.js" type="text/javascript"></script>
    <section class="history-block">
        <section class="history-list">
            <table id="history2">
                <thead>
                    <tr>
                        <th>Категория</th>
                        <th>Количество</th>
                        <th>Счет</th>
                        <th>Дата</th>
                    </tr>
                </thead>
                <tbody id="main">
                </tbody>
            </table>
        </section>

        <div class="graphs">
            <div class="graph">
                <h3>Расходы по категориям за месяц</h3>
                <canvas id="myChart" style="width:100%;max-width:700px"></canvas>

                <script>
                    const submits = { ...localStorage };
                    var data = Array(6).fill(0);
                    var colors = ["#e9f5db", "#cfe1b9", "#b5c99a", "#97a97c", "#588157",
                        "#718355", "#31572c"]

                    function generateRandomColor(colors, n) {
                        var random = [];
                        for (let i = 0; i < n; i++) {
                            j = Math.floor(Math.random() * colors.length);
                            random[i] = colors[j];
                            colors.splice(j, 1);
                        }
                        return random;
                    }
                    for (let submit in submits) {
                        if (submit.endsWith("acc")) { continue; }
                        submit_info = JSON.parse(localStorage[submit]);
                        if (submit_info.check == "+") { continue; }

                        switch (submit_info.category) {
                            case "Продукты":
                                data[0] += Number(submit_info.amount);
                                break;
                            case "Рестораны":
                                data[1] += Number(submit_info.amount);
                                break;
                            case "Транспорт":
                                data[2] += Number(submit_info.amount);
                                break;
                            case "Жилье":
                                data[3] += Number(submit_info.amount);
                                break;
                            case "Медицина":
                                data[4] += Number(submit_info.amount);
                                break;
                            case "Путешествия":
                                data[5] += Number(submit_info.amount);
                                break;
                            default:
                                break;
                        }
                    }

                    var xValues = ["Продукты", "Рестораны", "Транспорт", "Жилье", "Медицина", "Путешествия"];

                    new Chart("myChart", {
                        type: "pie",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: generateRandomColor(colors, 5),
                                data: data
                            }]
                        },
                        options: {
                            legend: {
                                position: 'right',
                            }
                        }
                    });
                </script>
            </div>

            <div class="graph">
                <h3>Доходы по категориям за месяц</h3>
                <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>

                <script>
                    var data = Array(5).fill(0);
                    var colors = ["#f9dc5c", "#fae588", "#fcefb4", "#f9dc5c", "#cca000"]

                    function generateRandomColor(colors, n) {
                        var random = [];
                        for (let i = 0; i < n; i++) {
                            j = Math.floor(Math.random() * colors.length);
                            random[i] = colors[j];
                            colors.splice(j, 1);
                        }
                        return random;
                    }

                    for (let submit in submits) {
                        if (submit.endsWith("acc")) { continue; }
                        submit_info = JSON.parse(localStorage[submit]);
                        if (submit_info.check == "-") { continue; }

                        switch (submit_info.category) {
                            case "Зарплата":
                                data[0] += Number(submit_info.amount);
                                break;
                            case "Подработка":
                                data[1] += Number(submit_info.amount);
                                break;
                            case "Подарки":
                                data[2] += Number(submit_info.amount);
                                break;
                            case "Стипендия":
                                data[3] += Number(submit_info.amount);
                                break;
                            default:
                                break;
                        }
                    }

                    var xValues = ["Зарплата", "Подработка", "Подарки", "Стипендия"];

                    new Chart("myChart2", {
                        type: "pie",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: generateRandomColor(colors, 4),
                                data: data
                            }]
                        },
                        options: {
                            legend: {
                                position: 'right',
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </section>
</div>