<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>WalletKeeper</title>
    {{>styles}}
    {{>scripts}}
</head>

<body>
    <header>
        {{>navbar}}
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        {{>footer}}
    </footer>
</body>

</html>