html {
    box-sizing: border-box;
    background-color: #FCFCFC;
    font-family: 'Montserrat';
}

main {
    padding-left: 200px;
    padding-right: 25px;
    width: auto;
    height: auto;
}

div {
    display: block;
}

.content {
    padding-left: 50px;
    padding-right: 20px;
}

h3 {
    color: #344e41;
    text-align: center;
    margin-bottom: 10%;
}

.menu-bar {   
    margin-left: -10px; 
    width: 180px;
    border: 2px solid #F5F5F5;
    background-color: white;
    position: fixed;
    height: 110%;
    margin-top: -25px;
}

.menu-nav .menu-btn {
    padding: 25px 20px;
    text-decoration: none;
    font-size: 23px;
    color: #16241e;
    display: block;
}

.menu-nav {
    margin-top: 40px;
}

.menu-nav a:hover, .auth-button:hover {
  background-color: #F5F5F5;
}

.auth-button {
    text-align: center;
    width: 140px;
    position: fixed;
    bottom: 60px;
    font-size: 18px;
    padding: 25px 20px;
    color: #16241e;
    text-decoration: none;
}

.heading {
    font-family: 'Courier New', monospace;
    width: 50%;
    color: #344e41;
    font-size: 25px;
    margin-left: 30px;
    margin-right: 5px;
    padding: auto;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 160px;
    background-color: white;
    color: black;
    padding-bottom: 5px;
    padding-left: 10px;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #F5F5F5;
}

.footer-bar a {
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.footer-bar a:hover {
    color: grey;
}