.first-block, .second-block, .third-block, .history-block {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.first-block {
    border: 2px solid #F5F5F5;
    background-color: white;
    width: 97%;
    position: relative;
}

.balance-item {
    width: 60%;
    border: 2px solid #C5CEB6;
    background-color: white;
    color: #344e41;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 30px;
    font-size: 21px;
    border-radius: 6px;
}

.balance-all {
    width: 50%;
    margin-left: 20px;
    display: table;
}

.history-list table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 25px;
}

table th {
    text-align: left;
    border-bottom: 2px solid #C5CEB6;
    background-color: white;
    color: #3e5c4d;
}

table {
    border-collapse: collapse;
}

.history-list table tr:nth-child(even) {
    background-color: #F5F5F5;
}

.history-list {
    width: 60%;
    border: 2px solid #F5F5F5;
    padding: 10px;
}

.month-balance-all, .history-list {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: -100%;
}

.month-balance-all {
    width: 40%;
}

.month-balance-item {
    width: 60%;
    border: 2px solid #C5CEB6;
    background-color: white;
    color: #344e41;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5% 15%;
    border-radius: 5px;
}

.exchange {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    margin: 5% -3%;
}

.graphs, .history-list {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: -100%;
}

.graphs {
    width: 42%;
}

.graph {
    margin: 40px 5px;
}

.history-list {
    width: 57%;
    background-color: white;
    margin: 30px;
}

.account-block {
    margin-top: 25px;
}

.accounts {
    display: table;
    width: 100%;
}

.accounts-body table {
    border-collapse: collapse;
    width: 100%;
}

.accounts-body table td {
    text-align: left;
    border-top: 2px solid #3e5c4d;
    border-bottom: 2px solid #3e5c4d;
    background-color: white;
    color: #3e5c4d;
}

.accounts-body table tr:nth-child(even) {
    background-color: #F5F5F5;
}

.accounts-header {
    background-color: #F5F5F5;
    padding: 25px;
    border-top: 2px solid #3e5c4d;
}

.accounts-header h3 {
    color: #344e41;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 24px;
    text-align: left;
}

.accounts-body {
    background-color: #F9F7F0;
    line-height: 20px;
}

.accounts-body table td span, .subtitle {
    color: #C2C2C2;
    font-weight: 400;
}

.accounts-body table td {
    font-weight: bold;
    padding: 20px;
}

.accounts-body table tr {
    display: table-row;
    vertical-align: middle;
    border-color: transparent;
}

.exchange-table {
    border: 2px solid #C5CEB6;
    margin-left: auto;
    margin-right: auto;
}

.exchange-table td {
    background-color: white;
    padding: 10px 68px;
}

.exchange-table th {
    background-color:white;
    border-top: 2px solid #C5CEB6;
    border-bottom: 2px solid #C5CEB6;
    color: #344e41;
    padding: 13px;
    text-align: center;
}

.exchange table td:nth-child(even) {
    background-color: white;
}

.menu-bar .title {
    position: relative;
}