@media screen and (min-width: 1630px) {
    .content {
        width: 1400px;
    }

    .accounts {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1630px) {
    .content {
        padding-left: 0px;
        padding-right: 20px;
    }

    .accounts {
        margin-left: 0px;
    }
}

@media screen and (max-width: 1570px) {
    .content {
        width: 1300px;
    }

    .exchange-table td {
        padding: 10px 57px;
    }
}

@media screen and (max-width: 1490px) {
    .content {
        width: 1200px;
    }

    .open-button {
        margin: 10px 10px;
    }

    .exchange-table td {
        padding: 10px 51px;
    }

    .graph-expense {
        margin-top: -350px;
    }
}

@media screen and (max-width: 1390px) {
    .content {
        width: 1150px;
    }

    .open-button {
        margin: 10px 30px;
        margin-left: -10px;
    }

    .exchange-table td {
        padding: 10px 49px;
    }

    .graph-expense {
        margin-top: -340px;
    }
}

@media screen and (max-width: 1330px) {
    .content {
        width: 1100px;
    }

    .open-button {
        margin: 10px 10px;
    }

    .buttons {
        margin-right: -80px;
    }

    .exchange-table td {
        padding: 10px 45px;
    }

    .graphs {
        width: 40%;
    }
}

@media screen and (max-width: 1300px) {
    .content {
        width: 1000px;
    }

    .open-button {
        margin: 10px 10px;
    }

    .buttons {
        margin-right: -50px;
    }

    .exchange-table td {
        padding: 10px 44px;
    }

    .exchange {
        width: 109%;
    }

    .graph-expense {
        margin-top: -320px;
    }

    .month-balance-item {
        width: 65%;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 900px;
    }

    .open-button {
        margin: 10px 10px;
    }

    .buttons {
        margin-right: 0px;
        width: 40%;
    }

    .balance-all {
        width: 55%;
        margin-left: 5px;
    }

    .balance-item {
        padding: 0px 10px;
        margin: 10px 30px;
        font-size: 21px;
        border-radius: 6px;
    }

    .graph-expense {
        margin-top: -280px;
    }

    .exchange-table td {
        padding: 10px 38px;
    }

    table td, table th {
        padding: 25px 20px;
    }

    .accounts-body table td {
        font-weight: bold;
        padding: 20px 15px;
    }
}

@media screen and (max-width: 1100px) {
    .content {
        width: 800px;
    }

    .buttons {
        margin-right: 10px;
    }

    .open-button, button {
        padding: 10px 10px;
        margin: 10px 10px;
        cursor: pointer;
        border-radius: 6px;
    }

    .balance-item {
        width: 80%;
        margin: 10px 40px;
    }
    
    .balance-all {
        width: 100%;
        margin-left: 20px;
    }

    .graph-expense {
        width: 90%;
        margin-right: 20px;
        margin-top: 25px;
    }

    .graph-expense h3 {
        margin: 5px;
        margin-right: 50px;
        text-align: center;
    }

    .month-balance-all {
        width: 95%;
        display: table;
        margin-top: 10px;
        margin-left: 50px;
        
    }
    
    .month-balance-item {
        width: 90%;
        margin: 15px 0px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .exchange {
        width: 90%;
    }
    
    .exchange-table td {
        padding: 10px 80px;
    }

    .history-list {
        width: 100%;
    }

    .graphs {
        width: 100%;
        display: flex;
        margin-top: 0px;
        margin-right: -10px;
    }

    .graph {
        width: 50%;
    }

    .active .btn-a, .unactive .btn-a {
        display: none;
    }

    .accounts {
        margin-left: 10px;;
    }
}

@media screen and (min-width: 1015px) { 
    .icon {
        position: relative;
        font-size: 25px;
    }

    .menu-nav {
        position: relative;
    }
}

@media screen and (max-width: 1015px) { 
    main {
        padding-left: 100px;
        padding-right: 25px;
    }

    .first-block {
        width: 98%;
        margin-left: 15px;
    }

    .balance-all {
        width: 100%;
        margin-left: 30px;
    }

    .menu-bar {   
        margin-left: -10px; 
        width: 90px;
    }

    .menu-nav {
        margin-top: 30px;
    }

    .menu-bar a {
        padding: 20px 25px;
        text-decoration: none;
        font-size: 25px;
        color: #16241e;
        display: block;
    }

    .menu-nav .title {
        display: none;
    }

    footer {
        display: none;
    }

    .accounts {
        margin-left: 5px;
    }
}

@media screen and (max-width: 930px) { 
    main {
        padding-left: 80px;
    }

    .content {
        width: 95%;
    }

    .buttons {
        margin-right: 1%;
        width: 50%;
    }

    .open-button {
        width: 10%;
        padding: 10px 5%;
        margin: 10px 3%;
    }

    .balance-item {
        width: 80%;
        margin: 10px 40px;
    }
    
    .balance-all {
        width: 100%;
        margin-left: 20px;
    }

    .graph-expense {
        width: 90%;
        margin-right: 20px;
        margin-top: 25px;
    }

    .month-balance-all {
        width: 90%;
        margin-left: 40px;
        float:none;
    }
    
    .month-balance-item {
        width: 80%;
        margin: 15px 20px;
        border-radius: 5px;
    }
    
    .exchange {
        width: 90%;
    }
    
    .exchange-table td {
        padding: 10px 60px;
    }

    .history-list {
        width: 100%;
    }

    .third-block {
        width: 100%;
    }

    .graphs {
        width: 90%;
        margin-left: 10px;
    }

    .accounts {
        margin-left: 20px;
    }
    
    .accounts-body table td .type, .accounts-body table .type {
        display: none;
    }

    .modal-content {
        width: 60%; 
    }
}

@media screen and (max-width: 787px) { 
    .buttons {
        margin-right: -10px;
    }

    .graphs {
        width: 90%;
    }

    .open-button {
        font-size: 15px;
    }

    .buttons {
        margin-top: -50px;
    }

    .heading {
        font-size: 20px;
        margin-left: 3%;
    }
}

@media screen and (max-width: 748px) {

    .month-balance-all {
        margin-left: 10%;
    }
    
    .month-balance-item {
        width: 70%;
    }

    .exchange {
        width: 90%;
    }
    
    .exchange-table td {
        padding: 10px 60px;
    }

    .graphs {
        display: block;
        width: 100%;
    }

    .graph {
        width: 100%;
    }
}

@media screen and (min-width: 660px) { 
    .accounts-body table td .fa-ruble, .accounts-body table td .fa-euro, .accounts-body table td .fa-dollar  {
        display: none;
    }
}

@media screen and (max-width: 660px) { 
    main {
        padding-left: 60px;
    }
    
    .history-list table {
        font-size: 12px;
    }

    .history-list {
        width: 90%;
        margin-left: 30px;
    }

    table td, table th {
        padding: 20px 10px;
    }

    .icon {
        font-size: 24px;
    }

    .menu-bar {
        width: 70px;
    }

    .open-button {
        font-size: 15px;
        margin: 20px 2%;
    }

    .buttons {
        margin-right: -20px;
    }

    .balance-all {
        margin-left: 0;
    }

    .graph-expense h3 {
        margin-right: 0;
        font-size: 18px;
    }
    
    .month-balance-item {
        width: 70%;
    }

    .exchange-table td {
        padding: 10px 50px;
    }

    .accounts-body table td .currency  {
        display: none;
    }
}

@media screen and (max-width: 582px) { 
    .buttons .btn-text {
        display: none;
    }

    .buttons {
        width: 40%;
    }

    .open-button {
        width: 10%;
        margin: 20px 4%;
        padding: 10px 20px;
    }

    .balance-all {
        margin-left: -10px;
    }

    .balance-item {
        padding: 5%;
    }

    .graph-expense {
        margin-right: 10px;
        margin-top: 25px;
    }

    .month-balance-item {
        width: 80%;
        padding: 10px 10px;
    }

    .exchange {
        width: 90%;
    }

    .exchange-table td {
        padding: 10px 40px;
    }

    .accounts-body table td {
        padding: 20px 10px;
    }

    .accounts-body table td span {
        display: none;
    }

    .history-list {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) { 

    main {
        padding-left: 50px;
    }

    .first-block {
        margin-left: 20px;
    }

    .graph-expense h3 {
        margin-right: 0;
        font-size: 15px;
    }

    .balance-all {
        margin-left: -10px;
    }

}

@media screen and (max-width: 495px) { 
    .buttons {
        width: 40%;
        margin-right: -40px;
    }

    .open-button {
        width: 8%;
        margin: 20px 2%;
        padding: 8px 10px;
    }

    .month-balance-all {
        width: 80%;
        margin-left: 10px;
    }

    .exchange {
        width: 80%;
        margin-left: 20px;
    }

}

@media screen and (max-width: 470px) { 
    main {
        padding-left: 35px;
    }

    .heading {
        font-size: 20px;
        margin-left: 3%;
    }

    .balance-item {
        font-size: 20px;
        padding: 5px;
    }

    .month-balance-item {
        width: 90%;
        font-size: 16px;
        padding: 10px 3px;
    }

    .month-balance-all {
        margin-left: 15px;
    }

    .exhange {
        margin-left: -10px;
    }

    .exchange-table td {
        padding: 10px 30px;
    }

    .icon {
        font-size: 20px
    }

    .menu-bar {
        width: 50px;
    }

    .menu-bar a {
        padding: 25px 15px;
    }

    .history-list {
        overflow-x: auto;  
    }
}

@media screen and (max-width: 434px) {
    .accounts-header h3 {
        font-size: 20px;  
        margin-left: 0;
    }

    .accounts-header a {
        font-size: 15px;
        margin-left: 0;
    }

    .accounts-body {
        font-size: 14px;
    }
}

@media screen and (max-width: 410px) { 
    .first-block {
        height: 100px;
    }
    
    .heading {
        width: 90%;
        text-align: center;
        margin-top: -7px;
    }
    
    .buttons {
        margin-top: -5px;
        width: 80%;
        margin-left: 40px;
        margin-right: 0px;
    }

    .open-button {
        width: 40%;
        margin: 10px 10px;
        padding: 8px 20px;
    }

    .month-balance-item {
        width: 90%;
        font-size: 18px;
        padding: 10px 3px;
    }

    .exchange {
        margin-top: 0;
    }

    .exchange-table td {
        padding: 10px 20px;
    }

    .graphs {
        display: none;
    }

    .content {
        overflow-x: auto;
    }
}

@media screen and (max-width: 375px) {   
    .buttons {
        width: 90%;
    }

    .month-balance-item {
        width: 80%;
        font-size: 16px;
        padding: 10px 3px;
    }

    .month-balance-all {
        margin-left: 20px;
    }
}